In [2]:
import os
import pandas as pd
df = pd.read_csv(r"C:\Users\HP\Downloads\PROJECTS\DATASETS\PYTHON\BlackFriday.csv")
del df['Product_Category_2']
del df ['Product_Category_3']

In [3]:
df

        User_ID Product_ID Gender    Age  ...  Stay_In_Current_City_Years Marital_Status Product_Category_1  Purchase
0       1000001  P00069042      F   0-17  ...                           2              0                  3      8370
1       1000001  P00248942      F   0-17  ...                           2              0                  1     15200
2       1000001  P00087842      F   0-17  ...                           2              0                 12      1422
3       1000001  P00085442      F   0-17  ...                           2              0                 12      1057
4       1000002  P00285442      M    55+  ...                          4+              0                  8      7969
...         ...        ...    ...    ...  ...                         ...            ...                ...       ...
537572  1004737  P00193542      M  36-45  ...                           1              0                  1     11664
537573  1004737  P00111142      M  36-45  ...                           1              0                  1     19196
537574  1004737  P00345942      M  36-45  ...                           1              0                  8      8043
537575  1004737  P00285842      M  36-45  ...                           1              0                  5      7172
537576  1004737  P00118242      M  36-45  ...                           1              0                  5      6875

[537577 rows x 10 columns]

In [4]:
df['User_ID'].nunique() #COUNT THE NUMBER OF UNIQUE VALUES IN THE DATAFRAME
                        # df['User_ID'].nunique(dropna=False)...WHEN WE WISH TO INCLUDE NaN AS AN UNIQUE VALUE

5891

In [5]:
df['Product_ID'].nunique()

3623

In [8]:

df['Gender'].unique()

array(['F', 'M'], dtype=object)

In [9]:
df['Age'].unique()

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'],
      dtype=object)

In [10]:
df['City_Category'].nunique()

3

In [11]:
df['City_Category'].unique()

array(['A', 'C', 'B'], dtype=object)

In [12]:
df['Stay_In_Current_City_Years'].unique()

array(['2', '4+', '3', '1', '0'], dtype=object)

In [13]:
df['Marital_Status'].unique()

array([0, 1], dtype=int64)

In [14]:
df['Product_Category_1'].unique()

array([ 3,  1, 12,  8,  5,  4,  2,  6, 14, 11, 13, 15,  7, 16, 18, 10, 17,
        9], dtype=int64)

In [15]:
df['Purchase'].sum()/len(df['Purchase']) #AVERAGE PURCHASE

9333.859852635065

In [19]:
for column in df.columns:
    print(column, ':', df[column].nunique()) # NUMBER OF UNIQUE VALUES IN EACH COLUMN USED FOR LOOP

User_ID : 5891
Product_ID : 3623
Gender : 2
Age : 7
Occupation : 21
City_Category : 3
Stay_In_Current_City_Years : 5
Marital_Status : 2
Product_Category_1 : 18
Purchase : 17959